$color-light: #e1e1e1;
$color-dark: #222222;
$color-light-border: #cccccc;
$color-dark-border: #454545;

.product {
  padding-top: 30px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:global(.theme__light) {
  .product {
    background-color: #fff;
    color: $color-dark;
    border: 1px solid $color-light-border;
  }
}
:global(.theme__dark) {
  .product {
    background-color: $color-dark;
    color: $color-light;
    border: 1px solid $color-dark-border;
  }
}

.productImage {
  img {
    width: 230px;
    object-fit: cover;
  }
}
.productRating {
  position: absolute;
  top: 12px;
  left: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #30ad146c;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.productInfo {
  padding: 20px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productTitle {
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
}

.productPrice {
  margin: 10px 0 25px 0;
  font-weight: 600;
}
.productPriceValue {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
}
.productPriceDiscount {
  color: rgba(230, 0, 0, 0.878);
}

.productButtons {
  display: flex;
  margin: 0 auto;
}

.productButton {
  width: 260px;
  height: 50px;
  margin-right: 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  background-color: #0e4289ee;
  color: #fff;
  transition: color 0.1s ease;
  cursor: pointer;
  &:hover {
    color: #dbdbdbee;
  }
}
.active {
  width: 100px;
}
