@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

//.wrapper {}

header {
  border-bottom: 1px solid #d7d7d7;
  .active {
    color: rgb(0, 41, 116);
    cursor: default;
  }
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}
